<html>
  <meta charset="utf-8">
  <head>
    <title>顧客管理新規登録</title>
  </head>
  <body>
    <?
      $this->load->helper('url');
      require_once('parts/header.html');
      require_once('parts/menu.html');
    ?>
    <br>
    <h3>顧客管理：新規登録</h3>
<?php echo validation_errors(); ?>
    <form action="<?base_url();?>/customer_entry/entry" method='post'>
    
    会社名：<input type="text" name="company_name" value=""/><br>
    住所：<input type="text" name="address" value=""/><br>
    担当者：<input type="text" name="person_in_charge" value=""/><br>
    TEL：<input type="text" name="tel" value=""/><br>
    Email：<input type="text" name="email" value=""/><br>
    ステータス：
    <select name="cust_status">
      <option value="1">契約中</option>
      <option value="2">契約破棄</option>
      <option value="3">テスト</option>
    </select>
    <br>
    AP情報

      <input type='submit' value='登録' />
    </form>
  </body>
</html>